doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    HEAD
    title Pentingnya Berolahraga | By Markombur Teams
    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

        section
            img(src="pictures/olahraga.png")
            h2 Pentingnya Berolahraga
            ul.bullet
                li By Markombur Team
        
        section
            img(src="pictures/logotim.png")
            h2 Anggota team
            ul.bullet
                br
                li Immanuel Sembiring
                li Ridik Onri Sitindaon
                li Hisar Ronald Saragi
                li Steven Rendi Marguna Pakpahan

        section
            h2 Pengantar
            ul.bullet
                br
                li <em>Men sana in corpora sano</em>
                li di dalam badan yang sehat terdapat jiwa yang sehat!
                li Mau Sehat ?????
                li Lakukan olahraga rutin
                li ^_^

        section
            h2 Sejarah Manusia berolahraga
            ul.bullet
                br
                li Sejak zaman purba manusia juga sudah melakukan olahraga
                li pada penelitian teori Natural Selection(seleksi alam)
                li Darwin (1809-1882) Spencer(1852) <em>"yang hidup yang terkuat"</em>
                li Wihellmsem dkk (1975) Shaw L(1981) dalam National Exercise and Heart Disease Program di Amerika Serikat membuktikan <em>aktifitas fisik atau olahraga sebelum maupun setelah terkena penyakit jantung memberi manfaat yang sama</em>
        section
            img(src="pictures/stevenbaru.png")
            
        section
            h2 Format Berolahraga
            ul.bullet
                br
                li Memiliki takaran yang pas format, aturan maupun pola
                li FIT, apa itu FIT ???
                li kata FIT bisa diartikan sebagai segar ataupun bugar
                li disamping F:Frekuensi I:Intensitas T:Tempo
                li Dahulu <em>Cooper</em> pernah mengamati bahwa berolahraga 3x dalam seminggu juga sudah cukup
                

        section
            ul.bullet
                br
                li Olahraga yang dilakukan melebihi 5x dalam seminggu akan menimbulkan berbagai komplikasi secara psikologis maupun fisiologis
                li Intensitas, berat beban latihan yang diberikan bisa dilihat dari <em>reaksi denyut jantung</em> yang timbul
                li beban yang dapat diterima berkisar <em>60% - 80%</em> dari kekuatan jantung maksimal
                li Tempo, 20-30 menit sudah cukup memberikan kenaikan sebanyak 35% per3x dalam seminggu
                li Dan akan memberikan hasil peningkatan kemampuan secara optimal akan terlihat setelah dilakukan 6bulan pertama

        section
            h2 Apa untungnya kita Berolahraga?
            ul.bullet
                br
                li "Proses penurunan berat badan menjadi efektif"
                li Pagi hari adalah yang tepat untuk anda, karena berolahraga pagi membuat keinginan makan (secara rakus) berkurang
                li Selain itu, berolahraga pagi dapat membakar lemak dan kalori lebih cepat dan efisien

        section
            img(src="pictures/ridik.png")

        section
            h2 Lebih bertenaga
            ul.bullet
                br
                li Olahraga melepaskan senyawa-senyawa yang baik,
                li misalnya endorfin yang meningkatkan energi dan mood

        section
            img(src="pictures/nuel.png")

        section
            h2 Melatih konsistensi
            ul.bullet
                br
                li Hampir 90% orang yang konsisten berolahraga melakukan olahraga pagi
                li Ini menunjukkan bahwa olahraga pagi melatih konsistensi seseorang dalam melakukan suatu komitmen
                li Sebuah penelitianmenunjukkan bahwa lebih banyak orang yang bisa memenuhi komitmen berolahraga di pagi hari dibanding mereka yang biasa melakukan setelah kerja

        section
            h2 Baik untuk metabolisme tubuh
            ul.bullet
                br
                li artinya anda membakar lebih banyak kalori dan lemak, dan sekaligus membuktikan efektivitas penurunan berat badan sepeti pada poin 1.

        section
            h2 Melatih otak dan fokus
            ul.bullet
                br
                li Pagi hari adalah kondisi dimana tubuh, baik secara fisik dan mental, memiliki kesiapan penuh untuk melakukan serangkaian aktivitas di pagi hari
                li Pada saat berolahraga, seseorang juga cenderung memikirkan rencana atau rangkaian aktivitas yang akan dilakukan setelahnya
                li Memikirkan sesuatu di pagi hari memastikan anda menggunakan “energi” otak secara penuh dan jernih.

        section
            h2 Menentukan prioritas
            ul.bullet
                br
                li Orang yang biasa berolahraga pagi cenderung memiliki keinginan kuat dalam menentukan prioritas dan “memaksa” dirinya untuk berkomitmen dengan prioritasnya
                li olahraga menunjukkan betapa dia sangat memprioritaskan kesehatan dan kesiapannya untuk menjalankan aktivitas kehidupan penting lainnya.

        section
            h2 Mudah bangun pagi
            ul.bullet
                br
                li Tubuh, terutama sistem endoktrin, telah beradaptasi sedemikian rupa dengan pola yang dibangun
                li  Beberapa jam sebelum bangun pagi, secara otomatis tubuh telah bersiap-siap untuk bangun dan beraktivitas.

        section
            h2 Melatih disiplin
            ul.bullet
                br
                li akan mengatur jadwal sedemikian rupa: jam berapa dia tidur, jam berapa dia harus bangun, berapa lama dia  akan berolahraga dan seterusnya
                li Secara langsung maupun tidak langsung  ini akan mempengaruhi berbagai jadwal kehidupannya dan mengharuskannya untuk mematuhinya.


        section
            h2 Meningkatkan ketajaman mental
            ul.bullet
                br
                li Penelitian olahraga pagi menunjukkan pengaruh hebatnya terhadap ketajaman mental
                li  Kesehatan mental yang baik akan membuat diri anda lebih kuat menghadapi tekanan atau stress, mampu berpikir jernih, dan lebih siap mengambil keputusan.

        section
            h2 Anda akan merasa lebih baik!
            ul.bullet
                br
                li lakukan dan anda akan merasa tubuh anda menjadi lebih baik, percayalah!!






                


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild