doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pentingnya Berolahraga | By Markombur Teams

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

        section
            img(src="pictures/olahraga.png")
            h2 Pentingnya Berolahraga
            ul.bullet
                li By Markombur Team
        
        section
            img(src="pictures/logotim.png")
            ul.bullet
                br
                li Immanuel Sembiring
                li Ridik Onri Sitindaon
                li Hisar Ronald Saragi
                li Steven Rendi Marguna Pakpahan

        section
            h2 Pengantar
            ul.bullet
                br
                li <em>Men sana in corpora sano</em>
                li di dalam badan yang sehat terdapat jiwa yang sehat!
                li Mau Sehat ?????
                li Lakukan olahraga rutin
                li ^_^

        section
            h2 Sejarah Manusia berolahraga
            ul.bullet
                br
                li Sejak zaman purba manusia juga sudah melakukan olahraga
                li pada penelitian teori Natural Selection(seleksi alam)
                li Darwin (1809-1882) Spencer(1852) <em>"yang hidup yang terkuat"</em>
                li Wihellmsem dkk (1975) Shaw L(1981) dalam National Exercise and Heart Disease Program di Amerika Serikat membuktikan <em>aktifitas fisik atau olahraga sebelum maupun setelah terkena penyakit jantung memberi manfaat yang sama</em>
        section
            img(src="pictures/stevenbaru.png")
            
        section
            h2 Format Berolahraga
            ul.bullet
                br
                li Memiliki takaran yang pas format, aturan maupun pola
                li FIT, apa itu FIT ???
                li kata FIT bisa diartikan sebagai segar ataupun bugar
                li disamping F:Frekuensi I:Intensitas T:Tempo
                li Dahulu <em>Cooper</em> pernah mengamati bahwa berolahraga 3x dalam seminggu juga sudah cukup
                

        section
            ul.bullet
                br
                li Olahraga yang dilakukan melebihi 5x dalam seminggu akan menimbulkan berbagai komplikasi secara psikologis maupun fisiologis
                li Intensitas, berat beban latihan yang diberikan bisa dilihat dari <em>reaksi denyut jantung</em> yang timbul
                li beban yang dapat diterima berkisar <em>60% - 80%</em> dari kekuatan jantung maksimal
                li Tempo, 20-30 menit sudah cukup memberikan kenaikan sebanyak 35% per3x dalam seminggu
                li Dan akan memberikan hasil peningkatan kemampuan secara optimal akan terlihat setelah dilakukan 6bulan pertama

        section
            h2 Apa untungnya kita Berolahraga?
            ul.bullet
                br
                li "Proses penurunan berat badan menjadi efektif"
                li Pagi hari adalah yang tepat untuk anda, karena berolahraga pagi membuat keinginan makan (secara rakus) berkurang
                li Selain itu, berolahraga pagi dapat membakar lemak dan kalori lebih cepat dan efisien

        section
            img(src="pictures/ridik.png")

        section
            h2 
            ul.bullet
                br
                li Alat-alat elektronik yang nantinya akan kita kendalikan dari <i>smartphone</i>
                li <i>Smartphone</i> yang akan mengendalikan setiap alat elektronik
                li Pengetahuan <i>user</i> akan cara penggunaan <i>smartphone</i>

        section
            h2 System Requirements
            ul.bullet
                br
                li Komponen-komponen yang dibutuhkan oleh <i>system</i> untuk dapat menjalankan <i>software</i>
                li Jika satu saja komponen ini tidak ada, maka <i>software</i> tidak akan dapat bekerja

        section
            h2 System Requirements (Cont..)
            ul.bullet
                br
                li <i>Bluetooth Connection</i>
                li <i>DataBase</i>
                li <i>Operating System</i>
                li ???

        section
            h2 System Requirements (Cont..)
            h3 <i>Bluetooth Connection</i>
            ul.bullet
                br
                li Penghubung setiap <i>smartphone</i> dengan <i>CenterMachine</i>
                li Penghubung <i>CenterMachine</i> dengan setiap alat elektronik

        section
            h2 System Requirements (Cont..)
            h3 <i>DataBase</i>
            ul.bullet
                br
                li Ditanamkan di <i>CenterMachine</i>
                li Berisi ID setiap chip yang ditanamkan ke setiap alat elektronik
 
        section
            h2 System Requirements (Cont..)
            h3 <i>Operating System</i>
            ul.bullet
                br
                li <i>WindowsPhone</i>
                li <i>Android</i>

        section
            h2 Functional Requirements
            ul.bullet
                br
                li Menu, fitur atau pilihan yang disediakan di sebuah <i>software</i>
                br
                li Untuk <i>software</i> ini :
                li Tampilan Awal
                li Fitur On/Off
                li Fitur Konfigurasi
            
        section 
            h2 Functional Requirements (Cont..)
            h3 Tampilan Awal
            ul.bullet
                br 
                li Tampilan awal ketika kita membuka <i>software</i> E-Blue

        section
            h2 Functional Requirements (Cont..)
            h3 Fitur On/Off
            ul.bullet
                br
                li Fitur ini berfungsi untuk mengaktifkan alat elektronik
                li ...
                li Juga untuk menonaktifkan alat elektronik

        section
            h2 Functional Requirements (Cont..)
            h3 Fitur Konfigurasi
            ul.bullet
                br
                li Fitur ini optional dan bisa berbeda untuk setiap alat elektronik
                li Untuk TV Konfigurasi Volume dan Konfigurasi channel
                li Untuk Kipas Angin ada Swing Options dan Speed Options

        section
            h2 System Engineering
            ul.bullet
                br
                li Merupakan sebuah sarana, media atau cara untuk dapat melihat cara kerja sistem kita dari beberapa aspek
                br
                li Terdiri dari :
                li Data Architecture
                li Application Architecture
                li Technologi Architecture

        section
            h2 System Engineering (Cont..)
            h3 Data Architecture
            ul.bullet
                br
                li Merupakan perpindahan data yang kita punya ketika sistem bekerja
                li <img class="systempic" src="images/[DATA_ARCHITECTURE].png" alt="">

        section
            h2 System Engineering (Cont..)
            h3 Data Architecture
            ul.bullet
                br
                li <img class="systempic" src="images/[DATA_ARCHITECTURE][PROGRESS-1].png" alt="">
                li Semua data yang tersimpan di <i>CenterMachine</i> akan dikirimkan dulu ke <i>smartphone</i>
                li Ketika kita merubah konfigurasi, data tersebut akan dikirimkan kembali ke <i>CenterMachine</i>

        section
            h2 System Engineering (Cont..)
            h3 Data Architecture
            ul.bullet
                br
                li <img class="systempic" src="images/[DATA_ARCHITECTURE][PROGRESS-2].png" alt="">
                li Perubahan Konfigurasi akan dikirimkan ke Alat Elektronik untuk mengubah konfigurasi pada alat elektronik
                li <i>Update</i> akan dikirimkan kembali ke <i>CenterMachine</i> untuk diteruskan ke <i>smartphone</i>

        section
            h2 System Engineering (Cont..)
            h3 Application Architecture
            ul.bullet
                br
                li Merupakan daftar beserta perpindahan aplikasi yang akan kita gunakan selama kita menggunakan <i>software</i>
                li <img src="images/[APPLICATION_ARCHITECTURE].png" alt="" class="systempic">

        section
            h2 System Engineering (Cont..)
            h3 Application Architecture
            ul.bullet
                br
                li <img src="images/[APPLICATION_ARCHITECTURE][PROGRESS-1].png" alt="" class="systempic">
                li User akan selalu berhubungan dengan Tampilan atau User Interface software kita

        section
            h2 System Engineering (Cont..)
            h3 Application Architecture
            ul.bullet
                br
                li <img src="images/[APPLICATION_ARCHITECTURE][PROGRESS-2].png" alt="" class="systempic">
                li Tampilan atau User Interface akan menampilkan apa yang ada di DataBase Software yang di-<i>update</i> melalui <i>CenterMachine</i> seperti yang telah dijelaskan sebelumnya


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild